body {
  background-color: #d3d3d3;
  background-image: linear-gradient(300deg, #8A8A8A 25%, #ff9933 75%);;
  color: #F8F8FF;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  padding-bottom: 20px;
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

input {
  width: 75%;
}

.lyricsList {
  list-style: none;
  margin: 0;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100;
}

.lyricItem {
  flex: 1 1 25%;
  font-size: 25px;
  border: 10px solid black;
}


